@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@800&display=swap');

@import '../components/addwaitlist.scss';
@import '../components/navbar/_header.scss';
@import '../components/navbar/_layout.scss';

* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-text {
    align-self: flex-start;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 2;

    h1.hero-title {
        margin-bottom: 0;
        text-align: center;
    }

    h4.hero-subtitle {
        margin: 10px 0 0 0;
        text-align: center;
    }
}

img.hero-img {
    max-width: 100%;
    margin-bottom: 50px;
}

.hero-input {
    justify-content: center;
}

h1, h2, h3 {
    font-weight: 700;
    color: #000000;
}

h1 {
    font-size: 42pt;
    line-height: 44pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
}

h4 {
    font-weight: 400;
    line-height: 22pt;
    font-size: 16pt;
}

p {
    color: #000000;
    margin: auto 0px;
}

div.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    div.social-media {
        display: flex;
        flex: wrap;
        align-items: center;
        justify-content: space-between;
        width: 200px;
        margin-bottom: 30px;
    }
}
    
@media (min-width: 375px) {
    .hero-text h1.hero-title {
        font-size: 28pt;
        line-height: 30pt;
    }
    
    div.layout-wrapper {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width: 744px) {
    .hero-text h1.hero-title {
        font-size: 36pt;
        line-height: 38pt;
    }

    div.layout-wrapper {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 950px) {
    .hero-text h1.hero-title {
        font-size: 36pt;
        line-height: 38pt;
    }
    
    div.layout-wrapper {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 1128px) {
    .hero-text h1.hero-title {
        font-size: 42pt;
        line-height: 44pt;
    }
    
    div.layout-wrapper {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@media (min-width: 1440px) {
    .hero-text h1.hero-title {
        font-size: 42pt;
        line-height: 44pt;
    }

    div.layout-wrapper {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}
